html,body {
	height:100%;
	}
div {
	width:100%;
	height:50px;
	}
#jx,#url,#play {
	margin:0;
	border:1px 1px;
	padding:0;
	float:left;
	}
#jx {
	height:42px;
	width:15%;
	}
#url {
	height:38px;
	width:70%;
	}
#play {
	height:42px;
	width:14%;
	}
iframe {
	width:100%;
	height:90%;
	background-color:#000000;
	}